button:active {
    background-color: red;
}
#calc {
    max-width: 250px;
    background-color: #607d8b;
    font-family: sans-serif;
    padding: 15px 0px;
    border-radius: 5px;
}
#calcWindow {
    width: 220px;
    padding: 0px;
    display: flex;
    margin: auto;
    height: 75px;
    font-size: 30px;
    padding-left: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 8px 8px 0px 0px;
    color: #607d8b;
    background-color: #475e69;
}
#calcWindow:focus, #calcWindow:active {
    outline: none;
    border: none;
}
#calcButtons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    color: #475e69;
}
.calcButton {
    width: calc(100%/4);
    cursor: pointer;
    padding: 5px;
    box-sizing: border-box;
}   